{% extends "layout.html" %}

{% block content %}

<div class="container"> 
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            {% include "_messages.html" %}
            {% if updatecat %}
            <h1 class="text-cenetr mt-5">Sửa loại</h1>
            <form action="" method="post">
                <input type="text" name="category" class="form-control" value="{{updatecat.name}}">
                <input type="submit" class="btn btn-info mt-2" value="update cat">
            </form>
            <a href="{{url_for('categories')}}" class="btn btn-warning" style="margin-top: -65px;margin-left: 140px;">cancel</a>
            {% endif %}
        </div>
        <div class="col-ml-3"></div>
    </div>
</div>
{% endblock content %}