{% extends 'layout.html' %}
{% block content %}
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Coffee House</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link mx-5" href="#">Sản phẩm <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-5" href="/categories">Loại</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-5" href="#">Duyệt</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-5" href="#">Khách hàng</a>
            </li>
            <li class="nav-item dropdown" style="margin-left: 25px;">
              <a class="nav-link dropdown-toggle mx-5" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Lựa chọn
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{{url_for('addSp')}}">Thêm sản phẩm</a>
                <a class="dropdown-item" href="{{url_for('addCate')}}">Thêm loại</a>
                <a class="dropdown-item" href="{{url_for('logout')}}">Đăng xuất</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
</div>

<!--==========END NAVBAR ==============-->

<div class="container">
    {% include '_messages.html' %}
    <table class="table tbale-sm">
        <thead>
            <th>Stt</th>
            <th>Ảnh</th>
            <th>Tên</th>
            <th>Loại</th>
            <th>Giá</th>
            <th>Edit</th>
            <th>Delete</th>
        </thead>
        <tbody>
          {% for sp in sanpham %}
          <tr>
            <td>{{loop.index}}</td>
            <td> <img src="{{url_for('static',filename='images/' + sp.image)}}" alt="{{sp.name}}" width="50" height="20"></td>
            <td>{{ sp.name }}</td>
            <td><a>{{sp.category.name}}</a></td>
            <td>{{ sp.price }}</td>
            <td> <a href="{{url_for('updateSp', id = sp.id)}}" class="btn btn-sm btn-info">Edit </a> </td>
            <td><button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal-{{sp.id}}">
              Delete  
            </button></td>
          </tr>

 <!--============= MODEL ===================-->
        <div class="modal fade" id="exampleModal-{{sp.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{sp.name }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p class="text-danger">Are you Sure that you want to delete this Category ({{ sp.name }})</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <form action="{{url_for('deletesp',id=sp.id)}}" method="post">
                  <button type="submit" class="btn btn-danger">Delete</button>
                </form>
                
              </div>
            </div>
          </div>
        </div>
          {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}